
  @font-face {
    font-family: "Young-Serif";
    src: url("../fonts/young-serif/YoungSerif-Regular.ttf");
  }

  @font-face {
    font-family: "Outfit";
    src: url("../fonts/outfit/Outfit-VariableFont_wght.ttf");
  }

:root{
  --font-body:"Outfit", Arial, Helvetica, sans-serif;
  --font-heading: "Young-Serif",sans-serif;
  --body-color: hsl(30, 54%, 90%);
  --list-color: hsl(330, 100%, 98%);
  --title-color: hsl(14, 45%, 36%);
  --titlebox-color:hsl(332, 51%, 32%);
  --font-size:10px;
}

*{
  box-sizing: border-box;
}

html,body{
  height: 120%;
}

body{
  background-color: var(--body-color);
  font-family: var(--font-body);
  font-size: var(--font-size);
  margin: 0;
}

body *{
  padding:0 auto;
  margin: 0 auto;
}

hr{
  border: none;
  border-top:1px solid lightgray;
}

.card, .image, .box{
  border-radius: 10px;
}


.card{
  background-color: hsl(0, 0%, 100%);
  padding: 0 2em;
  max-width:450px;
}

.card--margin, article{
  margin:1em auto;
}

.card--block{
  display: inline-block;
}

.box{
  padding:1em;
}

.box__color{
  background-color: var(--list-color);
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100%;
}

.image{
  max-width: 100%;
}

.list{
  padding-left: 1.5em;
  padding-bottom: 0.5em;
}

.list li{
  padding-left:1em;
  margin:0.5em 0;
}

.list li::marker, .measures{
  color:var(--title-color);
  font-weight: bold;
}

.list__titlebox-color li::marker{
  color:var(--titlebox-color);
}

.card--paragraph{
  padding-left: 2em;

}

.span-bold{
  font-weight: bold;
}

.title{
  font-family: var(--font-heading);
  font-size: 2.4em;
}

.title__2{
  font-size: 2em;
  color:var(--title-color);
  font-weight: 400;
}

.title__3{
  color:var(--titlebox-color);
  font-family: var(--font-body);
  font-size:1.25em
}

